@model Models.DynamicTable

@section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          setTimeout(function(){
   window.location.reload(1);
}, 5000);

        </script>
}

<div class="text-center" id=#textToUpdate">
    <h1 class="display-4"> @Model.name  </h1>
    <table>
        
            
            @foreach (var entry in Model.properties[0])
            {
            <tr>
                <td>@Html.Raw(@entry.Key)</td>
                <td>@Html.Raw(@entry.Value)</td>
            </tr>
            }

            @foreach (var entry in Model.properties[1])
            {
                <tr>
                    <td>@Html.Raw(@entry.Key)</td>
                    <td>@Html.Raw(@entry.Value)</td>
                </tr>
            }
            
            

           
    </table>
</div>
